<p>application-editor works!</p>
<ng-container *ngIf="application$ | async as application">
  <p>Application Id: {{application.id}}</p>
  <p>Created at: {{application.created}}</p>
  <p>Letter:</p>
  <pdf-reports-nx-application-result-letter-component [model]="application.letterData"></pdf-reports-nx-application-result-letter-component>
  <button (click)="downloadPdf(application.id)">Download PDF</button>
</ng-container>
